@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  padding: 0;
  margin: 0;
}

.outer {
  background-color: white;
  width: 100%;
  align-self: center;
  padding: 0;
  margin: 0;
  background-color: #f8f8ff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav {
  width: 100%;
  height: 70px;
  background-color: #778899;
  display: flex;
  align-items: center;
}

.textDiv {
  width: calc((100%) / 3);
  height: 100%;
  display: flex;
  align-items: center;
}
.centerDiv {
  height: 100%;
  width: calc((100%) / 3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  gap: 45px;
}

.buttonDiv {
  width: calc((100%) / 3);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.eventhub {
  color: white;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}
span {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: bold;
}
.buttonDiv button {
  height: 40px;
  width: 100px;
  background-color: white;
  margin: 10px;
  border-radius: 60px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
}
.contentArea {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.listofallevents {
  margin: 20px 0 20px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.event-card {
  width: 800px;
  height: 220px;
  margin: 10px 5px 10px 5px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
}

.event-preview {
  background-color: #2a265f;
  width: 250px;
  color: #fff;
  padding: 30px;
}

.event-card h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.event-card h2 {
  letter-spacing: 1px;
  margin: 10px 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  word-break: normal;
}

.event-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-info span {
  margin: 5px 12px;
  text-transform: capitalize;
  font-size: 12px;
  color: #2a265f;
  font-weight: lighter;
  letter-spacing: 0.3px;
}

.participate-btn {
  background-color: #778899;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  padding: 12px 25px;
  width: 140px;
  align-self: last baseline;
  cursor: pointer;
  margin-right: 25px;
}

.participate-btn:hover {
  background-color: #2a265f;
}
