* {
  padding: 0;
  margin: 0;
}

.outer {
  background-color: white;
  width: 100%;
  align-self: center;
  padding: 0;
  margin: 0;
  background-color: #f8f8ff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav {
  width: 100%;
  height: 70px;
  background-color: #778899;
  display: flex;
  align-items: center;
  filter: blur(3px);
  transition: filter 5s ease-in;
}

.textDiv {
  width: calc((100%) / 3);
  height: 100%;
  display: flex;
  align-items: center;
}
.centerDiv {
  height: 100%;
  width: calc((100%) / 3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  gap: 45px;
}

.buttonDiv {
  width: calc((100%) / 3);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.eventhub {
  color: white;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}
span {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: bold;
}
.buttonDiv button {
  height: 40px;
  width: 100px;
  background-color: white;
  margin: 10px;
  border-radius: 60px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
}
.content-area {
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.signup-box {
  width: 350px;
  height: 480px;
  background-color: white;
  border-radius: 5%;
  z-index: 1;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: -75px;
  /* background-color: red; */
}

.signup-heading {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: x-large;
}

.signup-form {
  display: flex;
  height: 380px;
  flex-direction: column;
  /* background-color: blue; */
  align-items: center;
}

.field-div {
  width: 335px;
  height: 80px;
  margin: 2px 0px;
  display: flex;
  flex-direction: column;
  /* background-color: black; */
}

input {
  width: 85%;
  outline: none;
  border: none;
  padding: 12px;
  border-bottom: solid 1px #ccc;
  margin-top: 15px;
}

input::placeholder {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.signup-button {
  width: 70%;
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-size: 16px;
  align-self: center;
  margin-top: 20px;
}

button:hover {
  background-color: #45a049;
}

.login-back {
  text-decoration: none;
  color: rgb(14, 176, 14);
  opacity: 0.7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.65rem;
  margin-top: 10px;
  visibility: hidden;
}
